@charset "utf-8";

$family-sf: "Open Sans", BlinkMacSystemFont, -apple-system, "Segoe UI",
                    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
                    "Droid Sans", "Helvetica Neue", "Helvetica", "Arial",
                    sans-serif;
$blue: #3949AB;
$cyan: #317cff;
$purple: #AA00FF;
$red: #E53935;
$turquoise: #00BFA5;
$orange: #FF3D00;
$yellow: #FFE57F;

@use "../bulma/sass" with (
    $family-primary: $family-sf,
    $family-monospace: '"Roboto Mono", monospace',
    $primary: $blue,
    $link: $turquoise,
    $info: $cyan
);

.card-header.is-high {
    min-height: 7rem;
    & > h1 {
        align-items: flex-end;
        margin-bottom: 0;
    }
    & > .card-header-icon {
        align-items: flex-start;
    }
}

.hero.has-shadow {
    box-shadow: 0 2px 4px rgba(10, 10, 10, 0.3),0 0 0 1px rgba(10,10,10,.6);
}

span.icon {
    margin-right: 0.25em;
}

.twitter-tweet {
    margin: 2em auto;
}

.has-text-shadow {
    text-shadow: 0 2px 2px #000;
}

.basic-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.basic-info > div {
    text-align: center;
    width: 260px;
}

.basic-info .face {
    width: 124px;
    height: 124px;
    border-radius: 50%;
    margin: 0 0 0.5em 0;
}

html[data-theme=dark] {
    background-color: var(--bulma-grey-darker) !important;
}


@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700|Roboto+Mono');