{{ partial "header.html" . }}

<div class="hero-body">
	<div class="container">
	<h1 class="title has-text-weight-normal">
		Research
	</h1>
	<h2 class="subtitle">
		The broad research topics we pursue.
	</h2>
    </div>
</div>
</section>

<section class="section">
    <div class="container" style="max-width: 1024px">
        <div class="card has-shadow animate__animated animate__zoomIn animate__fast">
            <div class="card-header has-background-primary">
            <h1 class="card-header-title title is-4 has-text-white has-text-weight-light">What we do</h1>
            </div>
            <div class="card-content has-background-primary">
                <div class="content">
                    <img src="/media/lab_slide.webp" alt="Broad research areas in the lab." />
                </div>
            </div>
        </div>
    </div></section>

<section class="section">
    <div class="container" style="max-width: 1024px">
    {{ range .Data.Pages.ByWeight }}
        <div class="card has-shadow animate__animated animate__zoomIn animate__fast">
            <div class="card-header has-background-primary">
            <h1 class="card-header-title title is-4 has-text-white has-text-weight-light">{{ .Title }}</h1>
            </div>
            <div class="card-content">
                <div class="content">
                    {{ .Content }}
                </div>
            </div>
        </div>
    {{end}}
    </div></section>

{{ partial "footer.html" . }}