{{ partial "header.html" . }}
<div class="hero-body">
	<div class="container">
	<h1 class="title has-text-weight-normal">
		The Team
	</h1>
	<h2 class="subtitle">
		All of our awesome lab members.
	</h2>
	</div></div>
</section>

<section class="section">
<div class="container">

<h1 class="title is-3 has-text-info has-text-weight-normal">Current</h1>
<div class="columns is-tablet is-multiline">
{{range where .Data.Pages.ByDate "Section" "team" }}
{{ if eq .Params.status "active"}}
<div class="column is-4-widescreen is-6-tablet">
{{ partial "microbe.html" . }}
</div>
{{ end }}{{ end }}</div>

<br>

<h1 class="title is-3 has-text-info has-text-weight-normal">Co-Supervised</h1>
<div class="columns is-tablet is-multiline">
{{range where .Data.Pages.ByDate "Section" "team" }}
{{ if eq .Params.status "co-supervised"}}
<div class="column is-4-widescreen is-6-tablet">
{{ partial "microbe.html" . }}
</div>
{{ end }}{{ end }}</div>

<br><br>

<h1 class="title is-3 has-text-info has-text-weight-normal">Alumni</h1>
<div class="columns is-tablet is-multiline">
{{range where .Data.Pages "Section" "team" }}
{{ if eq .Params.status "alumni"}}
<div class="column is-4-widescreen is-6-tablet">
{{ partial "microbe.html" . }}
</div>
{{ end }}{{ end }}</div>


</div>
</section>
{{ partial "footer.html" . }}